<launch>

  <node pkg="roscpp_azure_iothub" type="roscpp_azure_iothub_node" name="roscpp_azure_iothub_node" output="screen">
    <param name="connection_string" value="HostName=<IOTHubName>.azure-devices.net;DeviceId=<DeviceName>;SharedAccessKey=<Sharedkey>"/>
  </node>

  <node pkg="dynamic_tutorials" type="dynamic_tutorials_node" name="dynamic_tutorials_node" output="screen"/>

  <test test-name="roscpp_azure_iothub_testnode" pkg="roscpp_azure_iothub" type="roscpp_azure_iothub_testnode" name="roscpp_azure_iothub_testnode">
    <param name="iot_hub_connection_string" value="HostName=<IOTHubName>.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=<Sharedkey>" />
    <param name="device_name" value="<DeviceName>" />
  </test>

</launch>