<launch>
  <arg name="connection_string" default="HostName=sample.azure-devices.net;DeviceId=rosbot;SharedAccessKey=sampleKey" />
  <arg name="verbose" default="False">
  <node pkg="ros_azure_iothub" type="ros_azure_iothub" name="ros_azure_iothub" output="screen" args="$(arg verbose)">
    <rosparam subst_value="true">
      connection_string: $(arg connection_string)
      prefs_storage_file: '~/iot_relay.conf'
      timeout: 24100
      minimum_polling_time: 9
      message_timeout: 10000
      iot_hub_relay_queue_size: 10
      device_method_success_code: 200
      device_method_failure_code: 500
    </rosparam>
  </node>
</launch>